body{
    margin: 0px;
    padding: 0px;
    background-image: url(/home/user/Documents/Projects/iReporter/UI/static/images/human-65931.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 120px;
    height: 120px;
    border-radius: 50%;

}
.boxed{
    display: flex ;
    position: absolute;
    flex-direction: row-reverse;
    left: 130px;
    justify-content: space-between;
}
.loginbox{
    width: 400px;
    height: 350px;
    top: 60%;
    left: 20%;
    position: absolute;
    transform: translate(-40%, -50%);
    box-sizing: border-box;
    border-radius: 50%;
    background: rgba(211,211,211 ,1 );
    opacity: 0.7;
}

h1{
    font-family: monospace;
    font-size: 30px;

}
h3{
    color: red;
}