body{
    margin: 0px;
    padding: 0px;
    background-image: url(images/hand-1592415.jpg);
    background-position: center;
    background-size: cover;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
text-align: center;
}

 
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.title{
    color: black;
    text-align: center;
  
}
form{
   display: block;

}
#login{
    width: 60px;
  height: 30px;
  background-color: red;
}
#login:hover
{
  background-color: white;
}
.username{
    color:  black ;
    opacity: 0.5;
}
.password{
    color: black;
    opacity: 0.5;
}

.lostpass{
    color: black;
}
.lostpass:hover{
    background-color: white;
}
.noaccount{
    color: black;
}
.noaccount:hover{
    background-color: white;
}
.loginbox{
    width: 300px;
    height: 500px;
    background: rgb(102, 102, 206);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    opacity: 1;
    border-radius: 20px;
}
.loginbtn{
    background: red;
}